
@{
    ViewBag.Title = "Reports";
}

<!-- jQuery UI CSS Reference -->
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>

<!-- Code to wire up your DatePicker -->
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>


<h2>Reports</h2>
<input class="date-picker" />
@Html.TextBox("YourTextBox", "", new { @class = "date-picker" }) <p> to </p> @Html.TextBox("YourTextBox", "", new { @class = "date-picker" })
<h3>@Html.ActionLink("Export Data", "ExportData", "User", null, new { @class = "btn btn-info btn-large" })</h3>

