<!DOCTYPE html>
<html>
<head>
    <link rel="StyleSheet" href="~/Content/StyleSheet.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Valley Beef</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Golden Valley Beef", "ChooseFeedlot", "User", new { area = "" }, new { @class = "navbar-title" })
            </div>
            @Html.ActionLink("Admin", "Admin", "User", new { area = "" }, new { @class = "navbar-item" })
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <div class="imgcontainer">
                    <img alighn="center" width="150" height="90" src="~/Content/Images/cow.jpg" alt="Cow Image">
                </div>
            </center>
            <br />
            <br />
            <div>
                <p>&copy; @DateTime.Now.Year - Golden Valley Beef</p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>