@model IEnumerable<GVB.Models.Cattle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CattleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedlot.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dairy.dName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecieved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CattleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedlot.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dairy.dName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecieved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CattleID }, new { @class = "btn btn-info btn-large" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CattleID }, new { @class = "btn btn-info btn-large" })
            </td>
        </tr>
    }

</table>
