@model IEnumerable<GVB.Models.Deceased>


<h2>Deceased Cattle</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Dairy", "Index", new { sortOrder = "Dairy_desc" })
        </th>
        <th>
            @Html.ActionLink("Employee", "Index", new { sortOrder = "Employee_desc" })
        </th>
        <th>
            @Html.ActionLink("Feedlot", "Index", new { sortOrder = "Feedlot_desc" })
        </th>
        <th>
            @Html.ActionLink("Cattle Number", "Index", new { sortOrder = "Cattlenumber_desc" })
        </th>
        <th>
            @Html.ActionLink("Deceased Date", "Index", new { sortOrder = "Deceaseddate_desc" })
        </th>
        <th></th>
    </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dairy.dName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmpFname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedlot.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CattleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeceasedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CattleID }, new { @class = "btn btn-info btn-large" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CattleID }, new { @class = "btn btn-info btn-large" })
                </td>
            </tr>
        }

    </table>

